---
title: Custom Helpers
message: This is a message from the YAML front matter.
foo:
  bar:
  - foo
  - foo1
  foo:
  - bar
  - bar1
---
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

{{myHelper 'This is title'}}
{{myHelper message}}
