---
# This 2-column layout extends the `base` layout and is used by most pages of the site
layout: base
---
<!-- header -->
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>{{ page.lead }}</p>
  </div>
</div>


<!-- 2-column layout -->
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      {{> body }}
    </div>
    <div class="col-md-3">
      <div class="bs-docs-sidebar hidden-print" role="complementary">
        {{> sidenav }}
      </div>
    </div>
  </div>
</div>