<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> navbar }}

    <div class="container theme-showcase" role="main">
      {{> body }}
    </div>

    {{> javascripts }}
  </body>
</html>